@import '../scss/colors.scss';

.repoListItem {
  width: 350px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a:hover {
    color: $app-green;
  }
}

.repoName {
  margin-bottom: 10px;
  font-weight: 700;
}

.description {
  color: $app-grey;
}

.counters {
  display: flex;
}

.language {
  font-weight: 700;
  color: $app-dark-green;
}

.counter {
  color: $app-grey;
  background: $app-light-grey;
  border-radius: 20px;
  padding: 2px 10px 2px 10px;
  margin-right: 15px;

  span {
    margin-left: 5px;
  }
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
